@model IEnumerable<UniversityApiBackend.Models.DataModels.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionCorta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionLarga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicoObjetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetivos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requisitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionCorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionLarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicoObjetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objetivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requisitos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
